html, body{
    height: 100%;
    margin: 0;
    padding-top: 70px;
}



body{
    background: linear-gradient(180deg, #6ee7b7 0%, #3b82f6 100%);
    background-attachment: fixed;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    z-index: 1000;
}
nav{
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.location{
    font-size: 20px;
    margin-right: 20px;
    color:white;
    background-color: #009E6E;
    margin-right:40px ;
}
nav a{
    display: block;
    margin-top:20px;
    margin-right: 40px;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #ffffff;
    color: #009E6E;
    border: 1px solid #009E6E;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
}
.logo{
    width: 175px;
    height: 175px;
    margin-right: 600px;
    margin-top: -50px;
    margin-bottom: -50px;
    margin-right: -10px;
}
.container {
    text-align: center;
    background-color: white;
    margin: 100px auto;
    padding:30Px;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4ade80;
    border-radius: 16px;
    color:white;   
    border-color: #4ade80;
    font-size: 16px;
    cursor:pointer;
}


input[type="text"] {
    width:90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #4ade80;
    background-color: white;
    font-size: 16px;
}

.footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  margin-top: 170px;
  margin-bottom: 0px;
  position: relative;
  border-top: 1px solid #ccc;
}


.footer-content {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.footer-content a {
  color: green;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-contact {
background: white;
padding: 20px;
text-align: center;
}


.image-links {
display: flex;
justify-content: center;
gap: 300px;
margin-bottom: 15px;
}


.image-links a {
width: 80px;
height: 80px;
border-radius: 50%;
overflow: hidden;
border: 2px solid white;
transition: transform 0.3s;
display: inline-block;
}


.image-links a:hover {
transform: scale(1.1);
}


.image-links img {
width: 100%;
height: 100%;
object-fit: cover;
}